/.bundle
.coffee
node_modules
dump.rdb
/db/*.sqlite3
/log/*.log
/tmp
/public/uploads
/public/assets
.DS_Store
.idea
.rvmrc
*.log
db/migrate/20120614145045_create_proposed_edits.rb
db/migrate/20120614145045_create_proposed_edits.rb
app/assets/images/.DS_Store
*.pid
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
.ruby-gemset
.ruby-version
test/reports