<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<%= @template.render("rule_break_report_votes_url" => rule_break_report_votes_url).html_safe %>
</body>
</html>