<div class="modal hide" id="modalAfterSaveShare">
  <div class="modal-header">
    <h3>Edit saved. Why not share this page on Twitter, Facebook, or LinkedIn?</h3>
  </div>
  <div class="modal-body">
    <%= render partial: '/layouts/social' %>
    <a href="#" class="pull-right" data-dismiss="modal">Maybe Later</a>
  </div>
</div>
