<div class="slide-block argument-field"><div class="slide-arrow rotatearrow closeArgumentBox"></div>
  	<div class="holder">
    	<span class="text">
			<span class="title"></span>
      	  	<span>
				<input type="text" placeholder="{{placeholder}}" data-field-title="{{titleHelpTitle}}" data-field-description="{{titleHelpDescription}}" name="{{detailType}}[{{fieldTimestamp}}][title]">
			</span>
    	</span>

    	<div class="boxes-list collapsable">
      		<div align="right">
				<input type="button" class="add_source btn btn-blue" value="{{addSourceLabel}}" rel="tooltip" title="{{addSourceHelp}}" />
				<input type="button" class="removeArgument btn" value="Delete argument">
			</div>
	  		<div class="clearfix"></div>
			<div class="editable textarea edit-field-style arguments-area" contenteditable="true" data-field-title="{{contentHelpTitle}}" data-field-description="{{contentHelpDescription}}" data-think-about="{{contentThinkAbout}}">
      	  	</div>
			<textarea name="{{detailType}}[{{fieldTimestamp}}][body]" style="display:none;"></textarea>
    	</div>
  	</div>
</div>
