<div id="popup-sidebar" style="display:block;" class="fixedSidebar">
  <div class="box">
    <div class="popup-box">
      <span class="ico">&nbsp;</span>
      <div class="close-area">
        <a href="#" id="close-popup" class="close">&times;</a>
      </div>
      <div id="helpSidebarTitle" class="popup-sidebar-header">{{title}}</div>
      <blockquote class="blockquote" cite="#">
        <p><q>&#8220;<span id="helpSidebarBody">{{description}}</span>&#8221;</q></p>
      </blockquote>
      {{#thinkabout}}
      <div class="holder">
        <h3>Think about...</h3>
        ...<span id="thinkAboutContainer">{{thinkabout}}</span>
      </div>
      {{/thinkabout}}
    </div>
  </div>
</div>
