<ol id="searchResultsList">
{{#results}}
	<li><a href="{{searchable.link}}" data-id="{{searchable.id}}" title="{{searchable.title}}" class="onpwresult_links"><img src="{{searchable.pico_url}}" width="30" height="30" title="{{searchable.title}}" alt="{{searchable.title}}">{{searchable.title}}</a></li>
{{/results}}
</ol>
