<div id="adjudicationMessage">
	{{{compiled}}}
	<footer class="actions">
		<input class="btn btn-blue" id="cancelAdjudicationRequest" value="Cancel" type="button">
		<input class="btn" id="requestAdjudicationRequest" value="Select change for adjudication" type="button">
	</footer>
</div>