<div id="selectAdjudication">
	<header class="actions">
		<input class="btn btn-blue" id="cancelAdjudicationRequest" value="Cancel" type="button">
		<input class="btn" id="chooseForAdjudicationRequest" value="Select change for adjudication" type="button">
	</header>
</div>