<form action="/issue_titles/suggest" method="post" id="suggestTitleForm">
	<fieldset>
		<h2>Suggest a New Title</h2>
		<div class="field">
			<input name="issue_title[issue_id]" type="hidden" value="{{issue_id}}">
			<input name="issue_title[title]" type="text" placeholder="Enter your new title here.">
		</div>
		<div class="actions">
			<input type="submit" value="Suggest Title" class="btn btn-blue">
		</div>
	</fieldset>
</form>