<div class="dialog">
  <%= image_tag('debate-summary-vertical@2x.png') %>
  <h1>The request cannot be fulfilled due to bad syntax.</h1>
  <p>Maybe you tried to do something we do not understand</p>
</div>
