<div class="dialog">
  <%= image_tag('debate-summary-vertical@2x.png') %>
  <h1>The change you wanted was rejected.</h1>
  <p>Maybe you tried to change something you didn't have access to.</p>
</div>
