<!-- Apparently unsued mustache for front page -->

<div id="modal">
	<div id="heading">{{heading}}</div>

	<div id="content">
		<p>{{message}}</p>
		<a href="#" class="button green close">
      <img src="images/tick.png">Yes, go ahead.</a>
		<a href="#" class="button red close">
      <img src="images/cross.png">No, cancel that.</a>
	</div>
</div>