<div class="twitter-share">
  <i class="fa fa-twitter-square"></i>
</div>
<div class="facebook-share">
  <i class="fa fa-facebook-square"></i>
</div>
<div class="linkedin-share">
  <i class="fa fa-linkedin-square"></i>
</div>

